*{
    margin:0; 
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


#particles-js{
    width: 100%;
    height: 100%;
    background-size: 100%;
    position:fixed;
    /* z-index: 99; */
    /* padding: 50%; */
 }

 .imagen_fondo{
     background-image:url('../img/fondo\ logo.png');
     background-size: 100%;
     /* padding:10px 20px; */
     background-repeat: no-repeat; 
     position: relative; 
     width: 100%;
     z-index: -1;
    
    
     
 }
 

/* body{
    background-image: url("../img/fondo\ logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height:20em;
    font-family: sans-serif; 
    /* padding: 90px 20px 0; 
    max-width:1000px; 
     */

/* }  */
/* .contenedor-titulo{
    background-attachment: fixed;
} */

.titulo{
    position:absolute;
    color:white
}

.header{
    
    height:80px;
    position:fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0px;
}

.nav{
    display:flex;
    justify-content: right;
    max-width:992px;
    margin: 50 auto;
    position:relative;
    
    


}

.nav-link{
    
    
    text-decoration:none;
    margin: 50;

}

.logo{
    font-size:30px;
    font-weight: bold;
    padding:0 40px;
    line-height: 80px;
    text-decoration:none;
}

.nav-menu{
    display:flex;
    margin-right:40px;
    list-style: none;
   
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    color:white !important;
    font-family: 'Chewy', cursive;
}

.nav-menu-link:hover,
.nav-menu-link_active{
background-color: rgba(139, 139, 255, 0.267);
transition: 0.5s;
color:rgb(121, 121, 120);
}

.nav-menu-link, nav-link{
    color:red;
}



.nav-boton{
    color:rgb(0, 0, 0);
    background: none;
    border: none;
    font-size:30px;
    padding:0 20px;
    line-height: 60px;
    cursor: pointer;
    display:none;
    

}

@media (max-width:768px) {
    body{        
        padding-top: 70px;
    }
    .nav{
        background-color: transparent;
    }

    .imagen_fondo{
        background-image:url('../img/fondo\ logo.png');
        background-size: 100%;
        padding:10px 20px;
        background-repeat: no-repeat; 
        position: absolute;
        width: 100%;
       
       
        
    }

    .header{
        height:60px;
        background-color: rgba(0, 0, 0, 0.267) !important;
    }

    .logo{
        font-size:25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        
        background-color: rgba(0, 0, 0, 0.267) !important;
        position:fixed;
        left:0;
        top:60px;
        width: 100%;
        padding:20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left:100%;
        transition:left 0.3s;
    }

    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active{
        background:none;
        color: red;
    }

    .nav-boton{
        display: block;
    }

    .nav-menu_visible{
        left:0;

    }

}


